bin/
bin-temp*/
obj/
.vs/
.vscode/
.idea/

.artifacts/
.dotnet/

*.user
*.suo
*.userosscache
*.sln.docstates

TestResults/
coverage/

*.db
*.log

appsettings.Development.json
.env
**/.env
___PRODUCT_REQUIREMENTS_DOCUMENT__PRD_.md

.pnpm-store
